* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(92, 173, 205);
}
.about {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin: 0;
}
.navbar {
  background-color: rgb(0, 102, 255);
  padding: 10px;
  margin: 0px;
}
.nav {
  margin: 10px;
  text-decoration: none;
  color: white;
}
h2 {
  margin-top: 15px;
  text-align: center;
}
h3 {
  margin-top: 30px;
}
.about img {
  width: 100%;
  margin-top: 19px;
  margin: auto;
}
.about p {
  margin-top: 10px;
}

.home {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin: 0;
}
