.App {
  text-align: center;
}
.major {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(92, 173, 205);
}
.root {
  margin: 0;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  width: 40%;
}
.name {
  margin: 0px 15px;
  width: 90%;
  height: 30px;
  border: 1px white;
  border-radius: 10px;
}

.field {
  margin: 5px;
}
.lable {
  margin: 5px;
}
.checkbox {
  margin-top: 10px;
  margin-bottom: 15px;
}
.errorMessage {
  color: rgb(143, 31, 31);
  height: 35px;
}
.btn {
  padding: 5px 40px;
  font-size: 20px;
  background-color: rgb(61, 177, 119);
  border-radius: 10px;
}
.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(92, 173, 205);
  height: 100%;
}
.resultValue {
  margin: 20px;
}

@media all and (max-width: 720px) {
  .form {
    width: 60%;
    padding: 10px;
  }
  .field {
    margin: 15px;
  }
}
